.failure-img {
  height: 400px;
  width: 500px;
}
.retry-btn {
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 5px;
  cursor: pointer;
}
